@font-face {
  font-family: "Diagramm";
  src: url("/fonts/Diagramm/Diagramm-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Diagramm";
  src: url("/fonts/Diagramm/Diagramm-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Diagramm";
  src: url("/fonts/Diagramm/Diagramm-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Diagramm";
  src: url("/fonts/Diagramm/Diagramm-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Diagramm";
  src: url("/fonts/Diagramm/Diagramm-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Diagramm";
  src: url("/fonts/Diagramm/Diagramm-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Diagramm";
  src: url("/fonts/Diagramm/Diagramm-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Diagramm";
  src: url("/fonts/Diagramm/Diagramm-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Diagramm";
  src: url("/fonts/Diagramm/Diagramm-UltraBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
