:root {
  --font-sans: "Diagramm";
}

body {
    font-family: var(--font-sans);

    color: var(--color-text);
    background-color: var(--color-bg);
}

.container{
    margin: 2rem;
}

.scontainer{
    margin: 2rem;
    margin-top: 0%;
}
