/* TestPlot.module.css */
.wrap {
    width: 100%;
    aspect-ratio: 16 / 9;   /* pick what you want */
    position: relative;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
