.menu{
    display: inline-flex;
    gap: 1rem;

    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
    padding: 2rem;

    width: 100%;
    box-sizing: border-box;

    justify-content: center;
    align-items: center;
}
